<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Se ha producido un error en el sitio snicoper.com">
  <title>snicoper.com - se ha producido un error</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous"
  >
</head>
<body>
  <section class="jombotron">
    <section class="container">
      <section class="row">
        <div class="col-12">
          <h1>Se ha producido un error en snicoper.com</h1>
        </div>
      </section>
    </section>
  </section>

  <section class="container">
    <section class="row">
      <div class="col-12">
        <div class="text-center">
          <img class="img-fluid" src="/static/logo.png">
        </div>

        <div class="alert alert-info mt-3">
          Se ha enviado un email a la administracion informando del error, si el problema continua,
          por favor, pornte en contacto con nosotros a traves del email
          <code>snicoper@snicoper.com</code>
        </div>
      </div>
    </section>
  </section>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
          integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
          integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
          integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
          crossorigin="anonymous"></script>
</body>
</html>
